#skeleton_wrap {
  position: relative;
  width: 1200px;
  height: auto;
  margin: 62px auto 0;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
#skeleton_wrap .infomain_wrap {
  width: 792px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  top: 0;
  left: 0;
  margin-top: 62px;
  padding-bottom: 100px;
}
#skeleton_wrap .infomain_wrap .detail_wrap {
  position: relative;
  width: 792px;
  height: auto;
  box-sizing: border-box;
  top: 0;
}
.vaultTitle_wrap {
  position: relative;
  width: 100%;
  height: 63px;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}
.vaultTitle_wrap .vault_title {
  width: 100%;
  height: fit-content;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  padding: 0;
  box-sizing: border-box;
}
.vaultTitle_wrap .vault_title .vault_img {
  width: 63px;
  height: 63px;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
      90deg,
      rgba(227, 233, 237, 0),
      #eaeff1 50%,
      rgba(227, 233, 237, 0)
    ),
    linear-gradient(#e3e9ed 100%, transparent 0);
  background-size: 100% 100%, 100% 100%;
  background-position: -63px 0, 0 0;
  background-repeat: repeat-y;
  animation: shine5 1.6s infinite;
  border-radius: 26px;
}
.vaultTitle_wrap .vault_title .nametxt {
  width: 30%;
  height: 55px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  padding: 0;
  box-sizing: border-box;
  flex: none;
  order: 1;
}
.vaultTitle_wrap .vault_title .nametxt .vaultname {
  width: 100%;
  height: 30px;
  flex-grow: 0;
  box-sizing: border-box;
  flex: none;
  order: 0;
  background-image: linear-gradient(
      90deg,
      rgba(227, 233, 237, 0),
      #eaeff1 50%,
      rgba(227, 233, 237, 0)
    ),
    linear-gradient(#e3e9ed 100%, transparent 0);
  background-size: 100% 100%, 100% 100%;
  background-position: -238px 0, 0 0;
  background-repeat: repeat-y;
  animation: shine6 1.6s infinite;
  border-radius: 30px;
}
.vaultTitle_wrap .vault_title .nametxt .dacname {
  width: 50%;
  height: 14px;
  flex-grow: 0;
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  box-sizing: border-box;
  flex: none;
  order: 1;
  background-image: linear-gradient(
      90deg,
      rgba(227, 233, 237, 0),
      #eaeff1 50%,
      rgba(227, 233, 237, 0)
    ),
    linear-gradient(#e3e9ed 100%, transparent 0);
  background-size: 100% 100%, 100% 100%;
  background-position: -118px, 0 0;
  background-repeat: repeat-y;
  animation: shine7 1.6s infinite;
  border-radius: 14px;
}
.spacing_26px {
  position: relative;
  display: flex;
  width: 100%;
  height: 26px;
  /* background-color: #ffefef; */
  box-sizing: border-box;
}
.infomain_wrap .Intro_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 3px;
  position: relative;
  width: 792px;
  height: auto;
  box-sizing: border-box;
}
.Intro_wrap .Introduction {
  width: 16%;
  height: 20px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  background-image: linear-gradient(
      90deg,
      rgba(227, 233, 237, 0),
      #eaeff1 50%,
      rgba(227, 233, 237, 0)
    ),
    linear-gradient(#e3e9ed 100%, transparent 0);
  background-size: 100% 100%, 100% 100%;
  background-position: calc(-792px * 0.16) 0, 0 0;
  background-repeat: repeat-y;
  animation: shine3 1.6s infinite;
  border-radius: 18px;
}
.Intro_wrap .Intro_txt {
  width: 100%;
  height: 15px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
      90deg,
      rgba(227, 233, 237, 0),
      #eaeff1 50%,
      rgba(227, 233, 237, 0)
    ),
    linear-gradient(#e3e9ed 100%, transparent 0);
  background-size: 100% 100%, 100% 100%;
  background-position: -792px 0, 0 0;
  background-repeat: repeat-y;
  animation: shine2 1.6s infinite;
  border-radius: 16px;
  margin-top: 2px;
}
.Intro_wrap .tag_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px 0px 0px;
  gap: 8px;
  width: 100%;
  height: 50px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  box-sizing: border-box;
}
.Intro_wrap .tag_wrap .tag {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 15px;
  gap: 7px;
  width: 12%;
  height: 33px;
  border-radius: 37px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-image: linear-gradient(
      90deg,
      rgba(227, 233, 237, 0),
      #eaeff1 50%,
      rgba(227, 233, 237, 0)
    ),
    linear-gradient(#e3e9ed 100%, transparent 0);
  background-size: 100% 100%, 100% 100%;
  background-position: calc(-792px * 0.12) 0, 0 0;
  background-repeat: repeat-y;
  animation: shine3 1.6s infinite;
}
.tag_wrap .tag_name {
  width: auto;
  height: 13px;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #000000;
}
.spacing_33px_underline {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  border-bottom: 1px solid #e3e9ed;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}
.spacing_51px {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 51px;
  /* background-color: #ffefef; */
  box-sizing: border-box;
}
.vault_priceinfo {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 36px;
  padding: 0;
}
.vault_priceinfo .aum {
  width: 20%;
  height: 100%;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
  padding: 0;
  flex: none;
  order: 0;
}
.vault_priceinfo .About_txt_short {
  width: 35%;
  height: 15px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  background-image: linear-gradient(
      90deg,
      rgba(227, 233, 237, 0),
      #eaeff1 50%,
      rgba(227, 233, 237, 0)
    ),
    linear-gradient(#e3e9ed 100%, transparent 0);
  background-size: 100% 100%, 100% 100%;
  background-position: calc((-792px * 0.35) * 0.35) 0, 0 0;
  background-repeat: repeat-y;
  animation: shine3 1.6s infinite;
  border-radius: 15px;
}
.vault_priceinfo .number_txt {
  width: 100%;
  height: 34px;
  flex: none;
  order: 1;
  flex-grow: 0;
  background-image: linear-gradient(
      90deg,
      rgba(227, 233, 237, 0),
      #eaeff1 50%,
      rgba(227, 233, 237, 0)
    ),
    linear-gradient(#e3e9ed 100%, transparent 0);
  background-size: 100% 100%, 100% 100%;
  background-position: calc(-792px * 0.35) 0, 0 0;
  background-repeat: repeat-y;
  animation: shine3 1.6s infinite;
  border-radius: 34px;
}
.spacing_33px {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 33px;
  /* background-color: #ffefef; */
  box-sizing: border-box;
}
.infomain_wrap .ut_wrap {
  position: relative;
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 42px;
  border-radius: 12px;
  background-image: linear-gradient(
      90deg,
      rgba(227, 233, 237, 0),
      #eaeff1 50%,
      rgba(227, 233, 237, 0)
    ),
    linear-gradient(#e3e9ed 100%, transparent 0);
  background-size: 100% 100%, 100% 100%;
  background-position: -792px 0, 0 0;
  background-repeat: repeat-y;
  animation: shine2 1.6s infinite;
  box-sizing: border-box;
}
.infomain_wrap .maintitle_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 9px;
  align-items: stretch;
  padding: 0;
  width: 100%;
  height: 157px;
  box-sizing: border-box;
}
.infomain_wrap .maintitle_wrap .spacing_100px {
  width: 100%;
  height: 100px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  box-sizing: border-box;
  /* background-color: #ffefef; */
}
.infomain_wrap .maintitle_wrap .maintitle_txt {
  width: 20%;
  height: 30px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  box-sizing: border-box;
  background-image: linear-gradient(
      90deg,
      rgba(227, 233, 237, 0),
      #eaeff1 50%,
      rgba(227, 233, 237, 0)
    ),
    linear-gradient(#e3e9ed 100%, transparent 0);
  background-size: 100% 100%, 100% 100%;
  background-position: calc(-792px / 5) 0, 0 0;
  background-repeat: repeat-y;
  animation: shine3 1.6s infinite;
  border-radius: 38px;
}
.infomain_wrap .maintitle_wrap .maintitleUnderline {
  width: 100%;
  height: 1px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  box-sizing: border-box;
}
.infomain_wrap .performance_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 100%;
  height: 330px;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
      90deg,
      rgba(227, 233, 237, 0),
      #eaeff1 50%,
      rgba(227, 233, 237, 0)
    ),
    linear-gradient(#e3e9ed 100%, transparent 0);
  background-size: 100% 100%, 100% 100%;
  background-position: -792px 0, 0 0;
  background-repeat: repeat-y;
  animation: shine2 1.6s infinite;
  border-radius: 12px;
}
#skeleton_wrap .buysellBox_wrap {
  position: sticky;
  right: 0;
  top: 98px;
  height: 340px;
  width: 366px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  object-fit: contain;
  box-sizing: border-box;
  align-items: center;
  padding: 0px 0px 21px;
  border-radius: 18px;
  margin-top: 60px;
  border: 1px solid #e3e9ed;
  box-shadow: 0px -12px 24px rgba(0, 0, 0, 0.01),
    0px 12px 24px rgba(0, 0, 0, 0.04);
}
.spacing_50px_line {
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
  /* background-color: #ffefef; */
  border-bottom: 1px solid #e3e9ed;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.skeleton_box {
  position: relative;
  display: flex;
  width: 80%;
  height: 36px;
  background-image: linear-gradient(
      90deg,
      rgba(227, 233, 237, 0),
      #eaeff1 50%,
      rgba(227, 233, 237, 0)
    ),
    linear-gradient(#e3e9ed 100%, transparent 0);
  background-size: 100% 100%, 100% 100%;
  background-position: calc(-366px * 0.8) 0, 0 0;
  background-repeat: repeat-y;
  animation: shine8 1.6s infinite;
  margin-top: 16px;
  border-radius: 36px;
}
@keyframes shine {
  to {
    background-position: 366px 0, 0 0;
  }
}
@keyframes shine2 {
  to {
    background-position: 792px 0, 0 0;
  }
}
@keyframes shine3 {
  to {
    background-position: calc(792px * 0.2) 0, 0 0;
  }
}
@keyframes shine4 {
  to {
    background-position: calc(792px * 0.35) 0, 0 0;
  }
}
@keyframes shine5 {
  to {
    background-position: 63px 0, 0 0;
  }
}
@keyframes shine6 {
  to {
    background-position: 238px 0, 0 0;
  }
}
@keyframes shine7 {
  to {
    background-position: 118px 0, 0 0;
  }
}
@keyframes shine8 {
  to {
    background-position: calc(366px * 0.8) 0, 0 0;
  }
}
